/*-------Lista de Exercício --------
Curso: Informática
Disciplina: Programação Web I
Equipe:  Gleyce Vitória (2019322719), 
Guilherme dos Santos(2019322915), 
Rayane Quézia (2019322764), 
Silvia Michele(2019322693)*/
* {
    margin: 0;
}

label {
    margin-left: 40%;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(184, 248, 89);
    padding: 20px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 30%;
}

table tr:nth-child(odd) {
    background-color: gray;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: white;
    text-align: center;
}

thead {
    padding: 20px;
}